table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

tr,
td {
  width: 33.333%;
  height: 33.333%;
}

td {
  border: 6px solid #6c757d;
}

td {
  border: 6px solid #6c757d;
}

@media (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

.text-win {
  color: #17deee !important;
}

.text-tie {
  color: #ff4162 !important;
}

@media (max-width: 478px) {
  #Application > #GameOver,
  #Application > #LandingPage,
  .h-fit-content {
    height: fit-content !important;
  }
}

.round-card {
  border-radius: 16px !important;
}

#Application,
.bg-light {
  background-color: #f8f5f0 !important;
}

@media (max-width: 540px) {
  .markers {
    font-size: 5rem;
  }
}

@media (min-width: 541px) {
  .markers {
    font-size: 8rem;
  }
}
