$green: #26dbb0;
$red: #d95a4e;
$orange: #ed6f27;
$yellow: #ffc75a;
$grey: #6c757d;
$eggshell: #f8f5f0;

// Global styles
@import './global/layout.scss';

// Component styles
@import './components/App.scss';
